<div class="auth-block">
  <h3 class="mat-display-2">Sign Up</h3>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <input matInput type="email" placeholder="Email Address" [(ngModel)]="email" required>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" required>
    </mat-form-field>
  </div>

  <div class="form-group">
    <button mat-raised-button color="primary" (click)="authService.SignUp(email, password)">Sign Up</button>
  </div>

  <div class="form-group">
    <span class="or">Or</span>
  </div>

  <div class="redirect-to-login">
    <span>Already have an account? <a routerLink="/sign-in">Log In</a></span>
  </div>
</div>
