.auth-block {
  margin: 0 auto;
  max-width: 400px;
  background: white;
  padding: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.or {
  color: var(--bs-gray-500); /* Use Bootstrap variable for gray text color */
}

.redirect-to-login {
  margin-top: 20px;
  font-size: 14px;
}

.redirect-to-login span {
  color: var(--bs-gray-700); /* Use Bootstrap variable for gray text color */
}

.redirect-to-login a {
  color: var(--bs-primary); /* Use Bootstrap variable for primary color */
  text-decoration: none;
}

.redirect-to-login a:hover {
  text-decoration: underline;
}
