<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Album Title: {{ albumTitle }}</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let photo of userAlbum$">
      <div class="card mb-4">
        <img src="{{ photo.url }}" class="card-img-top" alt="Photo">
        <div class="card-body">
          <h5 class="card-title">{{ photo.title }}</h5>
          <p class="card-text">{{ photo.albumId }}</p>
          <a href="#" class="btn btn-primary" [routerLink]="['/edit-photo', photo.id]">View Image</a>
        </div>
      </div>
    </div>
  </div>
</div>
