<div *ngIf="photoData">
  <ul>
    <li><strong>Photo Title :</strong> {{ photoData.title }}</li>
    <li><strong>Photo Url:</strong> {{ photoData.url }}</li>
    <li><strong>Photo Id:</strong> {{ photoData.id }}</li>
  </ul>

  <form>
    <mat-form-field>
      <mat-label>Edit Title:</mat-label>
      <input matInput type="text" id="title" name="title" [(ngModel)]="photoData.title" />
      <!-- Alternatively, if using reactive forms -->
      <!-- <input matInput type="text" formControlName="title" /> -->
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="updatePhoto()">Submit</button>
  </form>
</div>
